.gray {
    color: var(--gray);
}

/* ===== Common Style ===== */
:root {
    /* Color */
    --gray: #abc;
}

* {
    padding: 0;
    margin: 0;
}

.youtube {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 56.25%;
    z-index: -1;
    /* position: relative; */
}

.youtube iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    border: none;
}
