html {
    font: 112.5%/1.45em georgia, serif, sans-serif;

    z-index: 0;

    overflow-y: scroll;

    box-sizing: border-box;

    background-color: ghostwhite;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: normal;

    margin: 0;

    letter-spacing: auto;
    word-wrap: break-word;

    color: darken(dimgray, 12%);
    text-shadow: 1px 0px 1px #00000033;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    line-height: 1.1;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    color: inherit;

    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.62671rem;
}

h3 {
    font-size: 1.38316rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.85028rem;
}

h6 {
    font-size: 0.78405rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;

    height: 0;
}

progress {
    vertical-align: baseline;
}

[hidden],
template {
    display: none;
}

a {
    text-decoration: none;

    color: purple;
    -webkit-text-decoration-skip: objects;
    text-shadow: 1px 1px 0 white;

    &:active,
    &:hover {
        outline-width: 0;
    }
}

abbr[title] {
    cursor: help;
    text-decoration: none;

    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

mark {
    color: #000;
    background-color: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em;
}

figure {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

hr {
    overflow: visible;

    box-sizing: content-box;
    height: 1px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: calc(1.45rem - 1px);
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    border: none;
    background: hsla(0, 0%, 0%, 0.2);
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;

    margin: 0;
}

optgroup {
    font-weight: 700;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
    -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;

    border-style: none;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding: 0.35em 0.625em 0.75em;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    border: 1px solid silver;
}

legend {
    display: table;

    box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    white-space: normal;

    color: inherit;
}

textarea {
    overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number'] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        height: auto;
    }
}

[type='search'] {
    outline-offset: -2px;

    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}

::-webkit-input-placeholder {
    opacity: 0.54;
    color: inherit;
}

::-webkit-file-upload-button {
    font: inherit;

    -webkit-appearance: button;
}

hgroup {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

ui,
ol,
dl,
dd,
p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

ul,
ol {
    margin-left: 1.45rem;

    list-style-position: outside;
    list-style-image: none;
}

dl,
dd,
p {
    padding-left: 0;
}

pre {
    font-size: 0.85rem;
    line-height: 1.42;

    overflow: auto;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding: 1.45rem;

    word-wrap: normal;

    border-radius: 3px;
    background: hsla(0, 0%, 0%, 0.04);
}

table {
    font-size: 1rem;
    line-height: 1.45rem;

    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    border-collapse: collapse;
}

blockquote {
    margin-top: 0;
    margin-right: 1.45rem;
    margin-bottom: 1.45rem;
    margin-left: 1.45rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

form,
noscript,
iframe,
address {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.45rem;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

b,
strong,
dt,
th {
    font-weight: bold;
}

li {
    margin-bottom: calc(1.45rem / 2);
}

ol li,
ul li {
    padding-left: 0;
}

li> {

    ol,
    ul {
        margin-top: calc(1.45rem / 2);
        margin-bottom: calc(1.45rem / 2);
        margin-left: 1.45rem;
    }
}

blockquote *:last-child,
li *:last-child,
p *:last-child {
    margin-bottom: 0;
}

li>p {
    margin-bottom: calc(1.45rem / 2);
}

code,
kbd,
samp {
    font-size: 0.85rem;
    line-height: 1.45rem;
}

abbr,
acronym {
    cursor: help;

    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
}

thead {
    text-align: left;
}

td,
th {
    padding-top: 0.725rem;
    padding-right: 0.96667rem;
    padding-bottom: calc(0.725rem - 1px);
    padding-left: 0.96667rem;

    text-align: left;

    border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);

    font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';

    &:first-child {
        padding-left: 0;
    }
}

th:last-child,
td:last-child {
    padding-right: 0;
}

tt,
code {
    font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono',
        'Liberation Mono', Menlo, Courier, monospace;

    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    border-radius: 3px;
    background-color: hsla(0, 0%, 0%, 0.04);
}

pre code {
    line-height: 1.42;

    background: none;
}

code {

    &:before,
    &:after {
        content: ' ';
        letter-spacing: -0.2em;
    }
}

tt {

    &:before,
    &:after {
        content: ' ';
        letter-spacing: -0.2em;
    }
}

pre {
    code {

        &:before,
        &:after {
            content: '';
        }
    }

    tt {

        &:before,
        &:after {
            content: '';
        }
    }
}

@media only screen and(max-width: 480px) {
    html {
        font-size: 100%;
    }
}
